[Desktop Entry]
Encoding=UTF-8
Name=Gtick Metronome
Name[pl]=Metronom - gtick
Comment=
Icon=gtick.xpm
Exec=gtick
Terminal=false
Type=Application
Categories=GNOME;GTK;Audio;
StartupNotify=true
