[Desktop Entry]
Name=Gtick Metronome
Name[pl]=Metronom - gtick
Comment=
Icon=gtick
Exec=gtick
Terminal=false
Type=Application
Categories=GTK;Audio;
StartupNotify=true
